/* *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
} */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-gap: .5em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
}


body{
    background: #26a69a;
    display: flex;
    min-height: 100vh;
}

#containerForm{
    display:flex;
    justify-content: center; 
    width: 90%;
    margin: 0rem;
}

form{
    /* display: stretch; */
    /* position: relative; */
    Margin: 0rem;
    border-radius: 0.5rem;
    flex-direction: column; 
    width: 90%;
    background: #ffffff;
    padding: 1.875rem;
    border: 0.0625rem solid rgba(0,0,0,0.2);
}

img{
    position: stretch;
    Margin: 0rem;
    border-radius: 0.5rem; 
    width: 10rem;
    height: 10rem;
    margin: 0.5rem;
}

h2{
    text-align:center;
    margin-bottom: 1.25rem;
    color: rgba(0,0,0,0.5);
}

/* #buttonGoogle{
} */

input{
    display: block;
    padding: 0.625rem;
    width: 100%;
    margin: 1.875rem 0;
    font-size: 1.25rem;
}

button{
    display: block;
    padding: 0.625rem;
    width: 100%;
    margin: 1.875rem 0;
    font-size: 1.25rem;background: #64d8cb;
    border:0;
    color: rgb(0, 0, 0);
    opacity: 0.8;
    cursor: pointer;
    border-radius: 1.25rem;
    margin-bottom: 0;
}

button:hover{
    opacity: 1;
}

button:active{
    transform: scale(0.95);
}

@media (max-width:768px){
    form{
        width: 95%;
    }
}

@media (max-width:480px){
    form{
        width: 75%;
    }
}